*{
    margin: 0 auto;
}

body{
    background-color: rgb(255, 255, 255)
}
header{
    text-align: center;
    width: 600px;
}

.cabeza{
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    & h3{
        position: relative;
        top: 70px;
    }
    img{
        border-radius: 25px;
    }
}
.Nosotros{
    height: 150px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 204);
   
}
.imagen{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.objetivo{
    padding: 5px;
    height: 100px;
    background-color: rgb(204, 255, 204);
}
.containermision section{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    background-color: rgb(245, 245, 220);
}

.containermision{
    padding: 1px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    text-align: left;
}

nav {
    background-color: rgb(250, 243, 234);
    height: 60px;
}
nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px;
    margin: 10px 20px 0px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
}
nav a:hover {
    border-radius: 30px;
    background-color:  rgb(219, 186, 141);
    color: white;
}

.imghome{
    height: 450px;
    background-image: url(/image/Home.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

footer {
    background-color: rgb(250, 243, 234);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content p {
    margin: 0;
    color: #333;
}
.social-media {
    margin-top: 10px;
}
.social-media a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media a :hover{
    color: #4ac69c;
}
