/* Estilo general */

:root{
    --body-background-color-Dark: rgba(0, 0, 0, 0.848);
    --h1-color-Dark:rgba(255, 255, 255, 0.829);
    --texto-general-color-Dark:rgba(255, 255, 255, 0.921);
    --purchase-container-color-Dark:rgb(30, 49, 48);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: var(--body-background-color-Dark)*/
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}

#nav-principal {
    /*padding: 1rem;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(250, 243, 234);
    height: 60px;
}
#nav-principal a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px;
    margin: 10px 20px 0px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
}
#nav-principal a:hover {
    border-radius: 30px;
    background-color:  rgb(219, 186, 141);
    color: white;
}

/* Contenido principal */
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    
}

/* Sección de datos */
#Datos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

#Datos p {
    font-size: 1.2rem;
/*    color: #555;*/
color: var(--texto-general-color);
}

#Details {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Tabla de detalles */
/* ~TABLA DETALLES ~*/
.purchase-container {
    background-color: rgb(245, 245, 250);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    text-align: center;
    border: 0;
    margin: 15px;
    border-radius: 25px;
}

.purchase-container h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: rgb(85, 85, 122);
}

.purchase-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

.purchase-table th, .purchase-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(210, 210, 230);
}

.purchase-table th {
    background-color: rgb(116, 125, 174);
    color: white;
    text-align: center;
}

.purchase-table tbody tr:hover {
    background-color: rgb(230, 230, 245);
}

.purchase-table tfoot {
    background-color: rgb(230, 239, 219);
}

.purchase-table .total-label {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.purchase-table .total-amount {
    font-weight: bold;
    color: rgb(116, 125, 174);
    text-align: center;
}

#pay-card {
    display: flex;
    justify-content: center;
    padding: 12vh 0 0;
    flex-wrap: wrap;
}

/* Formulario de pago */
#payment-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 206, 184);
    padding: 5vh 5vh 5vh;
    border-radius: 15px;
}

#payment-method h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.payment-option {
    margin-bottom: 20px;
}

.payment-option input[type="radio"] {
    margin-right: 10px;
}

.payment-option label {
    font-size: 1rem;
    color: #333;
}

.payment-details {
    margin-top: 10px;
    padding-left: 20px;
}

.payment-details label {
    display: block;
    font-size: 0.9rem;
    color: #666;
}

.payment-details input[type="text"],
.payment-details input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.payment-details input:focus {
    border-color: #113e6d;
    outline: none;
}

.credit-card-img{
    width: auto;
    height: 40px;
}

#images-card{
    display: flex;
    justify-content: space-around;
}
/* Botones */
button {
    background-color: #47d37f;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: white;
    }
}

button:hover {
    background-color: #10311d;
}

#pay-donate{
    background-color: rgba(100, 100, 224, 0.644);
}

#pay-donate:hover{
    background-color: rgba(25, 25, 89, 0.973);
}


/* Imagen interactiva */
#target-img {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 15vh;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
}

.anverso {
    transform: rotateY(0deg);
}

.reverso {
    transform: rotateY(180deg);
}

#target-img:hover .anverso {
    transform: rotateY(-180deg);
}

#target-img:hover .reverso {
    transform: rotateY(0deg);
}

/* Modal */
.capa-confirmacion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.capa-confirmacion:target {
    display: flex;
}

.confirmacion {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;
    max-width: 400px;
    width: 90%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.confirmacion p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.confirmacion i {
    color: #ff5722;
    font-size: 24px;
}

/* ~DARK MODE ~ */

#t{
    position:relative;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 10px;

    top: 143px;
    left: 1180px;
}

/* Estilo del checkbox */
.dark-toggle {
    position: fixed;
    width: 40px;
    height: 20px;
    appearance: none; /* Elimina el estilo predeterminado */
    margin: 0;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    outline: none;
    top: 280px;
    left: 200px;
    transition: background-color 0.3s ease;
}

/* Botón dentro del checkbox */
.dark-toggle::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo cuando el checkbox está marcado */
.dark-toggle:checked {
    background-color: rgb(187, 162, 130);
}

.dark-toggle:checked::before {
    transform: translateX(20px); /* Desplaza el círculo */
}

#t:checked ~.content {
    background-color: var(--body-background-color-Dark);
}

#t:checked ~.content .main-content h1{    
    color: var(--h1-color-Dark);
}

#t:checked ~.content .main-content #Datos p{    
    color: var(--h1-color-Dark);
}

#t:checked ~#dark-label {
    color: var(--h1-color-Dark);
}

#dark-label{
    position:relative;
    width: 200px;
    height: 20px;
    margin: 0;

    top: 140px;
    left: 1200px;
}

/* ~Footer~*/

footer {
    position: relative;
    background-color: rgb(250, 243, 234);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    color: #333;
}

.social-media {
    margin-top: 10px;
    padding: 0;
    /*width: 100%;*/
}

.social-media a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #4ac69c;
}